# S L i c i n g

Extract a sublist using colon (:) syntax

In [49]:
Flower = ["Rose", "Sunflower", "Daisy", "Lily"]
first_two = Flower[0:2]  # first_two will contain ["rose", "sunflower"]
everything_except_last = Flower[:-1]  # everything_except_last will contain ["rose", "sunfloer", "daisy"]
flower = Flower[::-1]  #  will contain a reversed copy of the list

print(Flower)

print(first_two)
print(everything_except_last)
print(flower)

['Rose', 'Sunflower', 'Daisy', 'Lily']
['Rose', 'Sunflower']
['Rose', 'Sunflower', 'Daisy']
['Lily', 'Daisy', 'Sunflower', 'Rose']

# append function

Add an element to the end of list .

In [4]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [5]:
my_list.append("Marigold")  # Add "Marigold" to the end

In [6]:
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily', 'Marigold']

# insert function

 Insert an element at a specific index.

In [25]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [26]:
my_list.insert(3, "Marigold")  # Insert "marigold" at index 1

In [27]:
my_list

['Rose', 'Sunflower', 'Daizy', 'Marigold', 'Lily']

# Extend function

Add all elements from an iterable

In [28]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [29]:
my_list.extend(["Blackrose", "Bluerose"])  # Add all elements from a list

In [30]:
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily', 'Blackrose', 'Bluerose']

# remove function

The remove function method removes a given element from the list.

In [31]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [32]:
my_list.remove("Daizy")  # Remove the  ""

In [33]:
my_list

['Rose', 'Sunflower', 'Lily']

# pop function

Pop function removes element at a specific index from the list.

In [34]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [35]:
remove_flower = my_list.pop(2)  # Remove and return the element at index 2

In [36]:
my_list

['Rose', 'Sunflower', 'Lily']

# clear function

Clear function method removes all items from the list making it an empty list.

In [37]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [38]:
my_list.clear()

In [39]:
my_list

[]

# count function

This function method returns the count of the occurrences of a given element in a list.

In [43]:
my_list = ["Rose", "Sunflower", "Daizy","Lily","Rose", "Sunflower"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily', 'Rose', 'Sunflower']

In [44]:
my_list.count("Rose")

2

In [45]:
my_list.count("Sunflower")

2

# sort function

Sort the list in ascending order (in-place)

In [46]:
my_list = ["Rose", "Sunflower", "Daizy","Lily"]
my_list

['Rose', 'Sunflower', 'Daizy', 'Lily']

In [47]:
my_list.sort()  # Sort in ascending order (in-place)

In [48]:
my_list

['Daizy', 'Lily', 'Rose', 'Sunflower']

In [28]:
num = [20,15,45,25,7,9,18,23,11,12,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 12, 5, 35]

In [29]:
num.sort()

In [30]:
num

[5, 7, 9, 11, 12, 15, 18, 20, 23, 25, 35, 45]

# reverse function

Reverse the order of elements

In [31]:
num = [20,15,45,25,7,9,18,23,11,12,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 12, 5, 35]

In [32]:
num.reverse()  # Reverse the order

In [33]:
num

[35, 5, 12, 11, 23, 18, 9, 7, 25, 45, 15, 20]

# min function

Min function returns the smallest element.

In [34]:
num = [20,15,45,25,7,9,18,23,11,12,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 12, 5, 35]

In [35]:
min(num)

5

# max function

Max function return the largest element.

In [36]:
num = [20,15,45,25,7,9,18,23,11,12,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 12, 5, 35]

In [38]:
max(num)

45